.col-center {
    float: none;
    margin: 0 auto;
}

/*Estilos body*/
body {
  background-image: url(../img/disc2.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20em;
  background-position: center 0%;
  background-color: #000;
}

h1 {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

/*Estilos formulario*/
.input-group {
  margin: 30px;
  border-radius: 6px;
}

.input {
  padding: 20px;
  width: 100%;
  border-radius: 0px 6px 6px 0px;
  border: none;
}

.input-group-addon {
  background-color: #f502d5;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 0px 30px;
}

.input-group-addon:hover {
  background: #a202f9;
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: #a202f9;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.btn:hover {
  background-color: #f43959;
}

/*Estilos contenedor letras*/
#cancionBuscada {
  background-color: #bfc1c6;
  padding: 20px;
  border-radius: 6px;
}

#cancionBuscada h2 {
  font-family: 40px;
  color: #158efc;
}

#cancionBuscada p {
  font-family: 25px;
  color: #2e2f2f;
}

#btnagain {
  background-color: #a202f9;
  padding: 20px;
  color: #FFF;
  font-weight: bold;
  border: none;
  margin-top: 20px;
}

#btnagain:hover {
  background-color: #f43959;
}
